body{
    min-height: 100vh;
}

@supports (min-height: 100dvh){
    body{
        min-height: 100dvh;
    }
}

/* === HEADER === */
header{
    min-width: 100vw;
    background-color: slateblue;
}

.title{
    font-size: 3rem;
}

/* --- nav bar --- */
.nav{
    display: flex;
}