/* base */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* Main grid */
.grid {
    flex-grow: 1;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: minmax(200px, 1fr) minmax(300px, 3fr) minmax(200px, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "nav main aside";
    gap: 10px;
    padding: 10px;
    margin: auto;
    max-width: 1200px;
}

/* Structure */
header,
nav,
main,
aside,
footer {
    padding: 20px;
    border: 1px solid #ccc;
}

header,
footer {
    width: 100%;
    text-align: center;
}

nav {
    grid-area: nav;
    max-width: 300px;
    position: sticky;
    top: 0;
    height: 100vh;
}

main {
    grid-area: main;
    min-width: 300px;
    max-width: 900px;
}

aside {
    grid-area: aside;
    position: sticky;
    top: 0;
    height: 100vh;
}

/* --- Media queries */

/* Tablet or laptop */
@media (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "nav main"
        "nav main"
        "aside aside";
        padding: 0;
    }

    nav {
        position: static;
        height: auto;
    }

    aside{
        position: static;
        height: auto;
        max-width: 100%;
    }

    main {
        max-width: 100%;
    }
}

/* mobile */

@media (max-width: 600px){
    .grid{
        grid-template-areas:
        "nav"
        "main"
        "aside";
    }

    nav{
        max-width: 100%;
        padding: 5px;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}
/* note: media queries can be in another file */