/* nav-bar root styles */
:root{
    /* --- colours --- */
    --nav-bg: rgba(31, 41, 55, 0.9);
    --nav-border: rgba(255, 255, 255, .08);
    --link-colour: #EDEDED;
    --accent: #facc15;

    /* --- spacing --- */
    --space-xxs: 0.25rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-xl: 2rem;
    --space-xxl: 3rem;

    --radius: 999px;
}

html{
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    line-height: 1.6;
}

header{
    display: flex;
    justify-content: center;
}

p{
    max-width: 62ch;
}

section{
    margin: var(--space-xxl) var(--space-xxl);
    padding: var(--space-md);
}

/* --- navBar styles --- */

.pill{
    /* fixed effect */
    position: fixed;
    bottom: var(--space-xl);
    z-index: 100;

    background-color: var(--nav-bg);
    border: 1px solid var(--nav-border);
    border-radius: var(--radius);

    /* blur effect */
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

nav ul{
    padding: var(--space-xxs) var(--space-sm);
    /* flex-box styles */
    display: flex;
    gap: var(--space-md);
    list-style-type: none;
}

nav a{
    color: #f5f5f5;
    transition: color 150ms ease;
    margin: 15px;
}

nav a:hover{
    color: var(--accent);
    text-decoration: underline;
    text-decoration-thickness: 1.4px;
}