/* nav-bar root styles */
:root{
    /* --- colours --- */
    --nav-bg: rgba(31, 41, 55, 0.9);
    --nav-border: rgba(255, 255, 255, .08);
    --link-colour: #EDEDED;
    --accent: #facc15;

    /* --- spacing --- */
    --space-xxs: 0.25rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-xl: 2rem;
    --space-xxl: 3rem;

    --radius: 999px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    line-height: 1.6;
}

/* --- navBar styles --- */

.pill{
    /* fixed effect */
    position: fixed;
    bottom: var(--space-xl);
    z-index: 100;

    /* flex-box styles */
    display: flex;
    justify-content: center;
    gap: var(--space-md);

    padding: var(--space-xxs) var(--space-sm);
    background-color: var(--nav-bg);
    border: 1px solid var(--nav-border);
    border-radius: var(--radius);

    /* blur effect */
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}